.file {
  position: relative;
  display: flex;
  flex-direction: column;
}

.file__wrap-preview {
  background-color: #fff;
  min-width: 280px;
  height: 80px;
}

.file__preview {
}
.file__wrap-btn {
}
.file__label {
}
.file__input {
}