.file {
  position: relative;
  display: flex;
}
.file__wrap-preview {
  background-color: #fff;
  width: 280px;
  height: 80px;
  flex-shrink: 0;
}
.file__preview {
}
.file__wrap-btn {
}
.file__label {
}
.file__input {
}