.file {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.file__wrap-preview {
  background-color: #fff;
  min-width: 280px;
  height: 80px;
}

.file__wrap-preview_active {
  min-width: auto;
}

.file__preview {
}

.file__wrap-btn {
}

.file__label {
  display: inline-block;
  padding: 8px 24px;
  border-radius: 4px;
  background-color: #A6adff;
}

.file__input {
}